{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}


<div class="mb-3">
    <a href="/show/{{ a_date.year }}-{{ a_date.month }}" class="btn btn-warning">
        Back to {{ a_date.year }}-{{ a_date.month }}
    </a>
</div>

<div>
    <table class="table table-bordered table-sm table-striped">
        <tbody class="table">
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Distance [km]</th>
                <th>Edit distance [km]</th>
                <th></th>
            </tr>
            <tr>
                <td>{{ activity.user }}</td>
                <td>{{ activity.date.isoformat }}</td>
                <td>{{ activity.distance }}</td>
                <form action="" method="post">
                {% csrf_token %}
                <td>
                    {{ form.as_p }}
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
                <form action="remove/activity_id={{ activity.id }}/" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Delete_form">
                </form>
                <a href="remove/activity_id={{ activity.id }}/" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<hr/>

<div>
    {{ activity }}
</div>

{% endblock %}
