{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div>
  <h4>Register</h4>
</div>

<div class="">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <p>
                    {{ field.label }}
                    <br/>
                    {{ field }}
                </p>
            </div>
        {% endfor %}
        <div class="form-check">
            <input type="submit" class="btn btn-success" name="Register">
        </div>
    </form>

</div>

{% endblock %}
