{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
    <table class="table">
        To be removed
        <tr>
            <td>Today is: <h4>{{ year }} - {{ month }}</h4></td>
        </tr>
    </table>
</div>

<div>
    <h2>
        <a href="/show/{{ year_m1 }}-{{ month }}/">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg>
        </a>
        {{ year }}
        <a href="/show/{{ year_p1 }}-{{ month }}/">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </a>
    </h2>

    <h2>
        <a href="/show/{{ year }}-{{ month_m1 }}/">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg>
        </a>
        {{ month }}
        <a href="/show/{{ year }}-{{ month_p1 }}/">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </a>
    </h2>


    <table class="table table-bordered table-sm table-striped table-responsive">
        <tbody class="table">
            <tr>
                <th class="col">User</th>
                <th>
                    <div>Sum</div>
                </th>

                {% for i in month_number_of_days %}
                    <th><div style="width: 1em">{{ i }}</div></th>
                {% endfor %}
            </tr>

            {% for username, u_sum in users.items %}
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ u_sum }}</td>
                    
                    {% for day in month_number_of_days %}
                    <td>
                        {% for a_username, a_list in activities.items %}
                            {% if a_username == username %}
                                {% for a in a_list %}
                                    {% if a.0 == day %}
                                        {{ a.1 }}
                                        <a href="/edit/username={{ a_username }}&{{ year }}-{{ month }}-{{ day }}/"><div>{{ a.1 }}</div></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<div>
    <table class="table table-bordered table-sm table-striped table-responsive">
        <tbody class="table">
            <tr>
                <th class="col">Username</th>
                <th>Sum</th>
                {% for day in month_number_of_days %}
                <th><div style="width: 1.1em">{{ day }}</div></th>
                {% endfor %}
            </tr>
            {% for u, inner_dictionary in act_01.items %}
            <tr>
                <td>{{ u.username }}</td>
                {% for key, value in inner_dictionary.items %}
                    {% if key == 'distance_sum' %}
                    <td>{{ value }}</td>
                    {% elif key == 'activities' %}
                        {% for day in month_number_of_days %}
                        <td>
                            {% for a in value %}
                                {% if day == a.date.day and a.distance != 0 %}
                                <a href="/edit/activity_id={{ a.id }}/">
                                    {{ a.distance }}
                                </a>
                                {% else %}
                                <a href="/edit/username={{ u.username }}&{{ year }}-{{ month }}-{{ day }}/">_</a>
                                {% endif %}
                            {% endfor %}
                            <hr/>
                            {% for a in value %}
                                {% if day in a.date.day %}
                                <a href="/edit/activity_id={{ a.id }}/">
                                    {{ a.distance }}
                                </a>
                                {% else %}
                                <a href="/edit/username={{ u.username }}&{{ year }}-{{ month }}-{{ day }}/">_</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
